In [1]:
# import libraries and dependencies
import os
import pandas as pd
import alpaca_trade_api as trade_api
from pathlib import Path
from dotenv import load_dotenv
%matplotlib inline

# load env keys
load_dotenv()

True

In [2]:
# read csv and convert to dataframe, setting index to Ticker (35 stocks total)
portfolio_csv = Path("Resources/portfolio_omar.csv")
portfolio_df = pd.read_csv(portfolio_csv, index_col=1)
portfolio_df.head()

# remove % from weight and convert data type
portfolio_df["Weight"] = portfolio_df["Weight"].astype(str).str.replace("%", "")
portfolio_df["Weight"] = portfolio_df["Weight"].astype(float)

# portfolio tickers and weights made into lists
portfolio_tickers = portfolio_df.index.tolist()
portfolio_weights = portfolio_df["Weight"].tolist()

In [3]:
# set Alpaca API and secret key
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

# create Alpaca REST object
alpaca = trade_api.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2"
)

In [33]:
# set timeframe to "1Day"
timeframe = "1Day"

# set start and end datetimes of 5 years
start_date = pd.Timestamp("2015-05-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2020-05-01", tz="America/New_York").isoformat()

# get 5 year's worth of historical data for stocks
stocks_df = alpaca.get_bars(
    portfolio_tickers,
    timeframe,
    start=start_date,
    end=end_date
).df

# list to add stock dataframes and columns to drop
stock_df_list = []
columns = ["symbol", "open", "high", "low", "volume", "trade_count", "vwap"]

# function to create stock dataframes and add to a list
def create_stock_df_list():    
    for ticker in tickers:        
        stock_df = stocks_df[stocks_df["symbol"]==ticker].drop(columns, axis=1)
        stock_df_list.append(stock_df)
    return stock_df_list

# calling create stock df list function
create_stock_df_list()

# concatenate the stock dataFrames and setting keys
stocks_df = pd.concat(stock_df_list, axis=1, keys=portfolio_tickers)
stocks_df

,AAPL,MSFT,GOOGL,AMZN,TSLA,NVDA,META,JNJ,JPM,WMT,...,CAT,SBUX,INTU,CVS,TJX,TGT,ABNB,BSX,MRNA,PNC
,close,close,close,close,close,close,close,close,close,close,...,close,close,close,close,close,close,close,close,close,close
timestamp,,,,,,,,,,,,,,,,,,,,,
2015-12-01 05:00:00+00:00,117.340,55.220,783.790,679.06,237.19,32.75,107.120,102.36,67.61,58.99,...,71.56,61.370,101.79,95.45,70.78,72.81,NaN,18.52,NaN,96.35
2015-12-02 05:00:00+00:00,116.280,55.210,777.850,676.01,231.99,32.50,106.070,102.05,66.66,58.35,...,71.03,61.220,99.50,94.50,70.73,71.93,NaN,18.41,NaN,95.22
2015-12-03 05:00:00+00:00,115.200,54.200,768.200,666.25,232.71,32.43,104.380,100.79,65.80,59.04,...,69.64,59.550,96.38,92.85,69.84,73.19,NaN,18.04,NaN,93.85
2015-12-04 05:00:00+00:00,119.030,55.910,779.210,672.64,230.38,33.75,106.180,102.95,67.89,59.66,...,69.98,61.750,98.63,95.46,70.99,73.90,NaN,18.51,NaN,97.19
2015-12-07 05:00:00+00:00,118.280,55.810,772.990,669.83,231.13,33.11,105.610,103.32,67.00,60.50,...,68.36,61.890,98.83,96.34,70.98,73.39,NaN,18.57,NaN,96.49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-04-27 04:00:00+00:00,283.170,174.050,1270.860,2376.00,798.75,297.08,187.500,154.29,94.62,128.30,...,115.20,77.740,271.83,63.50,47.84,109.88,NaN,37.00,48.05,105.49
2020-04-28 04:00:00+00:00,278.580,169.810,1232.590,2314.08,769.12,291.36,182.910,151.39,95.29,128.00,...,115.46,78.690,266.31,63.24,49.09,112.00,NaN,35.93,47.88,105.99
2020-04-29 04:00:00+00:00,287.730,177.430,1342.180,2372.71,800.51,298.46,194.190,150.24,97.86,123.60,...,120.06,76.860,273.43,62.61,51.54,112.10,NaN,37.43,46.37,110.99
2020-04-30 04:00:00+00:00,293.949,179.129,1346.369,2474.00,781.88,292.28,204.349,150.04,95.76,121.55,...,116.38,76.719,269.72,61.55,49.05,109.74,NaN,37.48,45.99,106.67
2020-05-01 04:00:00+00:00,289.070,174.570,1317.320,2286.04,701.32,282.78,202.270,148.29,93.25,122.92,...,110.88,73.785,261.13,59.70,48.25,108.23,NaN,35.99,47.93,102.97