In [76]:
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
from pathlib import Path

%matplotlib inline

In [77]:
load_dotenv()

True

In [78]:
portfolio_data = Path("../Resources/Project_1_Tickers.csv")
portfolio = pd.read_csv(portfolio_data)
portfolio 

portfolio["PortFolio Weight"] = portfolio["PortFolio Weight"].astype(str).str.replace("%", "")
portfolio["PortFolio Weight"] = portfolio["PortFolio Weight"].astype("float")

portfolio

tickers = portfolio["Ticker"].tolist()
tickers

portfolio_weights = portfolio["PortFolio Weight"].tolist()
portfolio_weights

tickers

['ABBV',
 'ACN',
 'APD',
 'AMGN',
 'APO',
 'APPL',
 'T',
 'BAC',
 'AVGO',
 'KO',
 'CCI',
 'ETN',
 'XOM',
 'HD',
 'IBM',
 'QQQ',
 'RPV',
 'JNJ',
 'JPM',
 'MDT',
 'MRK',
 'MSFT',
 'NEE',
 'NKE',
 'PEP',
 'PFE',
 'PG',
 'PLD',
 'O',
 'SHW',
 'KRE',
 'UNH',
 'VZ',
 'V',
 'WMT']

In [79]:
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

api = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version = "v2"
)

In [80]:
timeframe = "1Day"

# Set start and end datetimes between now and 3 years ago.
start_date = pd.Timestamp("2013-2-13", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2023-02-13", tz="America/New_York").isoformat()


df_ticker = api.get_bars(
    tickers,
    timeframe,
    start=start_date,
    end=end_date
).df

# Display sample data


df_ticker = df_ticker[["close", "symbol"]]

df_ticker.head()

                           close symbol
timestamp
2015-12-01 05:00:00+00:00  59.02   ABBV
2015-12-02 05:00:00+00:00  57.72   ABBV
2015-12-03 05:00:00+00:00  56.12   ABBV
2015-12-04 05:00:00+00:00  57.18   ABBV
2015-12-07 05:00:00+00:00  56.27   ABBV

In [81]:
df_ticker['Date'] = pd.to_datetime(df_ticker.index).date

df_ticker = df_ticker.set_index("Date")

In [82]:
df_ticker

             close symbol
Date
2015-12-01   59.02   ABBV
2015-12-02   57.72   ABBV
2015-12-03   56.12   ABBV
2015-12-04   57.18   ABBV
2015-12-07   56.27   ABBV
...            ...    ...
2023-02-07  114.92    XOM
2023-02-08  113.92    XOM
2023-02-09  114.35    XOM
2023-02-10  119.17    XOM
2023-02-13  117.80    XOM

[61642 rows x 2 columns]

In [88]:

ABBV = df_ticker[df_ticker['symbol']=='ABBV'].drop('symbol', axis=1)
ACN = df_ticker[df_ticker['symbol']=='ACN'].drop('symbol', axis=1)
APD = df_ticker[df_ticker['symbol']=='APD'].drop('symbol', axis=1)
AMGN = df_ticker[df_ticker['symbol']=='AMGN'].drop('symbol', axis=1)
APO = df_ticker[df_ticker['symbol']=='APO'].drop('symbol', axis=1)
APPL = df_ticker[df_ticker['symbol']=='APPL'].drop('symbol', axis=1)
T = df_ticker[df_ticker['symbol']=='T'].drop('symbol', axis=1)
BAC = df_ticker[df_ticker['symbol']=='BAC'].drop('symbol', axis=1)
AVGO = df_ticker[df_ticker['symbol']=='AVGO'].drop('symbol', axis=1)
KO = df_ticker[df_ticker['symbol']=='KO'].drop('symbol', axis=1)
CCI = df_ticker[df_ticker['symbol']=='CCI'].drop('symbol', axis=1)
ETN = df_ticker[df_ticker['symbol']=='ETN'].drop('symbol', axis=1)
XOM = df_ticker[df_ticker['symbol']=='XOM'].drop('symbol', axis=1)
HD = df_ticker[df_ticker['symbol']=='HD'].drop('symbol', axis=1)
IBM = df_ticker[df_ticker['symbol']=='IBM'].drop('symbol', axis=1)
QQQ = df_ticker[df_ticker['symbol']=='QQQ'].drop('symbol', axis=1)
RPV = df_ticker[df_ticker['symbol']=='RPV'].drop('symbol', axis=1)
JNJ = df_ticker[df_ticker['symbol']=='JNJ'].drop('symbol', axis=1)
JPM = df_ticker[df_ticker['symbol']=='JPM'].drop('symbol', axis=1)
MDT = df_ticker[df_ticker['symbol']=='MDT'].drop('symbol', axis=1)
MRK = df_ticker[df_ticker['symbol']=='MRK'].drop('symbol', axis=1)
MSFT = df_ticker[df_ticker['symbol']=='MSFT'].drop('symbol', axis=1)
NEE = df_ticker[df_ticker['symbol']=='NEE'].drop('symbol', axis=1)
NKE = df_ticker[df_ticker['symbol']=='NKE'].drop('symbol', axis=1)
PEP = df_ticker[df_ticker['symbol']=='PEP'].drop('symbol', axis=1)
PFE = df_ticker[df_ticker['symbol']=='PFE'].drop('symbol', axis=1)
PG = df_ticker[df_ticker['symbol']=='PG'].drop('symbol', axis=1)
PLD = df_ticker[df_ticker['symbol']=='PLD'].drop('symbol', axis=1)
O = df_ticker[df_ticker['symbol']=='O'].drop('symbol', axis=1)
SHW = df_ticker[df_ticker['symbol']=='SHW'].drop('symbol', axis=1)
KRE = df_ticker[df_ticker['symbol']=='KRE'].drop('symbol', axis=1)
UNH = df_ticker[df_ticker['symbol']=='UNH'].drop('symbol', axis=1)
VZ = df_ticker[df_ticker['symbol']=='VZ'].drop('symbol', axis=1)
V = df_ticker[df_ticker['symbol']=='V'].drop('symbol', axis=1)
WMT = df_ticker[df_ticker['symbol']=='WMT'].drop('symbol', axis=1)

In [89]:
display(WMT)

             close
Date
2015-12-01   58.99
2015-12-02   58.35
2015-12-03   59.04
2015-12-04   59.66
2015-12-07   60.50
...            ...
2023-02-07  140.98
2023-02-08  140.22
2023-02-09  141.52
2023-02-10  143.72
2023-02-13  145.91

[1813 rows x 1 columns]

In [91]:
df_ticker = pd.concat([ABBV,
 ACN,
 APD,
 AMGN,
 APO,
 APPL,
 T,
 BAC,
 AVGO,
 KO,
 CCI,
 ETN,
 XOM,
 HD,
 IBM,
 QQQ,
 RPV,
 JNJ,
 JPM,
 MDT,
 MRK,
 MSFT,
 NEE,
 NKE,
 PEP,
 PFE,
 PG,
 PLD,
 O,
 SHW,
 KRE,
 UNH,
 VZ,
 V,
 WMT], axis=1, keys=['ABBV',
 'ACN',
 'APD',
 'AMGN',
 'APO',
 'APPL',
 'T',
 'BAC',
 'AVGO',
 'KO',
 'CCI',
 'ETN',
 'XOM',
 'HD',
 'IBM',
 'QQQ',
 'RPV',
 'JNJ',
 'JPM',
 'MDT',
 'MRK',
 'MSFT',
 'NEE',
 'NKE',
 'PEP',
 'PFE',
 'PG',
 'PLD',
 'O',
 'SHW',
 'KRE',
 'UNH',
 'VZ',
 'V',
 'WMT'])

In [92]:
daily_returns = df_ticker.pct_change()
daily_returns

,ABBV,ACN,APD,AMGN,APO,APPL,T,BAC,AVGO,KO,...,PFE,PG,PLD,O,SHW,KRE,UNH,VZ,V,WMT
,close,close,close,close,close,close,close,close,close,close,...,close,close,close,close,close,close,close,close,close,close
Date,,,,,,,,,,,,,,,,,,,,,
2015-12-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-12-02,-0.022026,-0.004994,0.003623,-0.009013,-0.004960,NaN,-0.006219,-0.010668,-0.005117,-0.002798,...,-0.021416,-0.001975,-0.030227,-0.019953,-0.015672,-0.017705,0.011870,-0.014480,-0.010887,-0.010849
2015-12-03,-0.027720,-0.015429,-0.019711,-0.036569,-0.023676,NaN,-0.013707,-0.018161,0.095076,-0.007248,...,-0.015502,-0.000660,-0.020543,-0.016730,-0.026353,-0.014909,-0.022441,-0.008014,-0.009489,0.011825
2015-12-04,0.018888,0.029925,0.019666,0.043841,0.011487,NaN,0.030514,0.028902,0.019202,0.019548,...,0.012658,0.027594,0.029412,0.025215,0.024097,0.016941,0.023826,0.025808,0.026951,0.010501
2015-12-07,-0.015915,-0.001467,-0.011774,-0.019389,-0.009464,NaN,0.004691,-0.014607,0.008607,-0.002079,...,-0.004268,0.006938,-0.000937,0.005199,-0.006681,-0.021546,-0.015543,0.007657,-0.010572,0.014080
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-02-07,0.000827,0.011741,0.007208,0.000615,0.016773,NaN,-0.016854,0.010998,0.021869,-0.001662,...,-0.003885,-0.009760,-0.008901,-0.005315,-0.018887,0.010764,0.003451,-0.017684,0.008194,0.002132
2023-02-08,-0.003652,-0.010805,0.007612,-0.015574,0.007362,NaN,-0.004675,-0.007343,-0.020734,-0.005827,...,0.008947,-0.010356,-0.003608,-0.002227,-0.012288,-0.011267,0.013295,-0.000740,-0.004842,-0.005391
2023-02-09,0.028283,0.001581,-0.001218,-0.000833,-0.074300,NaN,-0.009916,-0.021370,-0.003822,-0.001674,...,-0.014552,-0.010969,-0.013559,-0.014728,-0.016984,-0.014674,0.005194,-0.017522,-0.003692,0.009271
2023-02-10,0.022529,-0.004208,0.003242,0.010417,0.033041,NaN,0.005271,-0.003919,-0.010277,0.000000,...,0.012460,0.008829,0.000391,0.009361,-0.004406,-0.002060,0.017541,0.005024,-0.009374,0.015546
2023-02-13,0.011049,0.015460,-0.003891,0.004784,0.005802,NaN,0.009963,0.001967,0.013266,0.016437,...,0.002507,0.013091,0.009368,0.004488,0.011237,0.008097,0.002226,0.007748,0.007394,0.015238